@model IEnumerable<LibraryMVC.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            Author
        </th>
        <th>
            Available
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Isbn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Author.Firstname) @Html.DisplayFor(modelItem => item.Author.Lastname)
    </td>
    @if (item.LoanId == 0)
    {
        <td style="background-color:green">
            YES
        </td>
    }
    else
    {
        <td style="background-color:red">
            NO
        </td>
    }

<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

    @if (item.LoanId == 0)
    {
       @Html.ActionLink("Loan", "Create", "Loan", new { bookId = item.Id }, null)
    }
</td>
</tr>
}

</table>
